#d0{
margin: 2%;
display: flex;
flex-direction: column;
justify-content: center;

    }

#d1{
background-image: url(images/apple-pie.jpg);
background-size: 100% 500px;
height: 500px;
width: 100%;
}
#d2{
margin: 7%;

}
 
#d3{

    margin: 7%;
    margin-top: 0%;
}
#d4{

    margin: 7%;
    margin-top: 0%;
}
.pe{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt; 
    margin: 2%;
}
#h0{
    color: white;
    position: absolute;
    top: 22%;
    left: 36%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 50pt;

}
#p0{
font-size: 18pt;
}
img{
    position: relative;
    left: 29%;
    width: 400px;
    height:50px;
}

@media (min-width:600px)  { 
 }
